.events-page{
	min-height: 1000px;
}

.cal{
	border: 0;
	width: 800px;
	height: 600px;
	frameborder: 0;
	scrolling: no;
}
.cal-wrapper{
	overflow: auto;
	margin: 20px;
}

.events-link{
	margin: 0;
}

.events-tag {
	color: #990000;
	text-shadow: 0.5px 0.5px black;
}

.events-page-suggestions {
	margin: 0 10% 0 10%;
	display: flex;
	flex-direction: column;
}
