.page
  min-height: 1000px
  display: flex
  flex-direction: column
  align-items: center
  overflow: auto

.tag
  color: #990000
  text-shadow: 0.5px 0.5px black


.wrapper
  width: 60vw
  display: flex
  align-items: center
  flex-direction: column
  margin: 15px

.category
  > h3
    color: white

.faqs

.faq
  background-color: grey
  width: 85%
  margin-left: auto
  margin-right: auto
  display: flex
  align-items: left
  flex-direction: column

.question
  width: 100%
  display: inline

.answer
  width: 100%
  display: inline

.Q
  width: 5%
  display: inline

.A
  display: inline
