.footer
  min-height: 150px
  height: 20vh
  width: 100vw
  background-color: black
  display: grid
  grid-template-rows: 30% 30% 40%
  text-color: white

.footer-tags-wrapper
  grid-row: 1
  height: 60%
  display: flex
  justify-content: center
  text-align: center

.copyright
  justify-content: center
  text-align: center
  color: #666666


.footer-tags-wrapper :hover
  color: #FFFFFF
  cursor: pointer

.footer-tags
  font-weight: bold
  color: #666666
  margin: 2px

.footer-tag-bar
  color: #666666 !important
  cursor: default !important
  margin: 0

.footer-harvard-tags-wrapper
  display: flex
  align-items: center
  justify-content: center
  height: auto
  grid-row: 2

.footer-harvard-tags-wrapper :hover
  cursor: pointer
  color: #FFFFFF

.footer-harvard-tags
  font-size: 1em
  font-weight: bold
  color: #666666
  margin: 5px

.footer-social-wrapper
  height: auto
  grid-row: 3
  display:flex
  align-items: center
  justify-content: center

.footer-social-wrapper > img
  height: 50px
  width: 50px
  margin: 5px
  border-radius: 15%
  opacity: 0.6

.footer-social-wrapper > img:hover
  cursor: pointer


/*Media Queries*/
@media only screen and (max-device-width:1024px)
  .footer
    grid-template-rows: 45% 15% 40%

  .footer-tags-wrapper
    grid-row: 1

  .footer-tags
    font-size: .8em

  .footer-harvard-tags-wrapper
    grid-row: 3

  .footer-harvard-tags
    font-size: .8em

  .footer-social-wrapper
    grid-row: 2

  .footer-social-wrapper > img
    height: 25px
    width: 25px
