@import './_vars.sass'

$theme-colors: ( "primary": $crimson )
$body-bg: $crimson
$body-color: black
// bootstrap needs to come after global overrides
@import '../../node_modules/bootstrap/scss/bootstrap.scss'

body
  margin: 0
  padding: 0
  font-family: Georgia
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New"
  monospace

.App
  text-align: center
  font-family: 'Georgia'
