backend:
  name: github
  repo: drawnwren/huvo_gatsby

publish_mode: editorial_workflow

media_folder: static/assets
public_folder: assets

site_url: https://harvardvets.com

slug:
  encoding: "ascii"
  clean_accents: true
  sanitize_replacement: "_"

collections:
  - name: blog
    label: Blog
    folder: blog
    create: true
    fields:
      - { name: path, label: Path }
      - { name: date, label: Date, widget: date }
      - { name: title, label: Title }
      - { name: body, label: Body, widget: markdown }
  - name: members
    label: Members
    folder: members
    create: true
    fields:
      - { name: name, label: Name }
      - { name: title, label: Title }
      - { name: picture, label: Picture, widget: image }
      - { name: description, label: Description }
  - name: faqs
    label: FAQs
    folder: faqs
    create: true
    identifier_field: question
    fields:
      - { name: question, label: Question }
      - { name: answer, label: Answer }
      - { name: category, label: Category, widget: select, options: ["Admissions", "Student Life", "HUVO Related" ] }
