.reach-out-page {
	min-height: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.reach-out-tag {
	color: #990000;
	text-shadow: 0.5px 0.5px black;
}

.reach-out-wrapper {
	width: 30vw;
	height: 50vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 15px;
}

#formSendEmail.form-control {
	display: inline;
	margin: 5px;
}

textarea#formSendEmail.form-control {
	height: 40vh;
}

/*Media Queries*/
@media only screen and (max-device-width:1024px){
	.reach-out-wrapper {
		width: 90vw;

	}
	.reach-out-page {
		height: auto;

	}
}
