.about-us-page{
	min-height: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.about-us-tag {
	color: #990000;
	text-shadow: 0.5px 0.5px black;
}

.about-us-members-wrapper{
	margin-top: 5%;
	width: 60%;
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow: auto;
}

.about-us-single-member {
	height: 100%;
	width: 100%;
	margin: 15px;
	display: flex;
	justify-content: flex-start;
}

.about-us-single-member-description{
	display: flex;
	margin-left: auto;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	overflow: auto;
}

.about-us-single-member > img {
	width: 50%;
	height: 100%;
}

/*Media Queries*/
@media only screen and (max-device-width:1024px){

	.about-us-single-member {
		flex-direction: column;
	}
	.about-us-single-member > img {
		width: 100%;
	}
}
